<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

          <div class="container">
            <h1>File Metadata microservice</h1>
            <h4>User stories<h4>
               <ol>
                 <li>I can submit a FormData object that includes a file upload.</li>
                 <li>When I submit something, I will receive the file size in bytes within the JSON response</li>
               </ol>
               <form id="filesize" action="/" method="post" enctype="multipart/form-data">  
                <label class="custom-file">
                        <input type="file" id="file"  name="filesize" class="custom-file-input">
                        <span class="custom-file-control"></span>
                </label>
                <button type="submit" class="btn btn-primary">Get size</button>
               </form>
               
        </div>      
    </body>
</html>